<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Projects</h1>

    <p>
      Hello <%= @user.first_name %>,
    </p>

    <p>
      Thanks for checking out Projects. Use the email address
      <%= @user.email %> to sign in or reset your password in the future.
    </p>
  </body>
</html>
