---
http_interactions:
- request:
    method: get
    uri: https://freegeoip.io/json/161.185.207.20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Database-Date:
      - Thu, 07 Sep 2017 09:08:50 GMT
    body:
      encoding: UTF-8
      string: '{"ip":"161.185.207.20","country_code":"US","country_name":"United States","region_code":"NY","region_name":"New
        York","city":"Brooklyn","zip_code":"11201","time_zone":"America/New_York","latitude":40.6944,"longitude":-73.9906,"metro_code":501}

'
  recorded_at: Thu, 07 Sep 2017 22:24:42 GMT
recorded_with: VCR 3.0.3
