<h1>Projects</h1>

<%= link_to 'New Project', new_project_path, class: "btn btn-primary" %>

<% @projects.each do |project| %>
  <h2><%= link_to project.name, project %></h2>
  <p>
    <%= project.description %>
  </p>
<% end %>
