<% if flash.any? %>
  <div class="row">
    <div class="col-xs-12">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name == 'notice' ? 'success' : 'warning' %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
